<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562031133904-vimc7ptlnncto002p3rm15qj4nfdhcgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562031133904-vimc7ptlnncto002p3rm15qj4nfdhcgt</string>
	<key>API_KEY</key>
	<string>AIzaSyDQyDYxoc1QEPF_49zShQ7CcR6tdT9thLc</string>
	<key>GCM_SENDER_ID</key>
	<string>562031133904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kiishidart.betahealth</string>
	<key>PROJECT_ID</key>
	<string>beta-health-53f7f</string>
	<key>STORAGE_BUCKET</key>
	<string>beta-health-53f7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562031133904:ios:7ea283ccbda1090e830ad5</string>
</dict>
</plist>